{# templates/lead/upload.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="text-align: center;">Importer une lead</h1>
    <br>
<div style="margin: auto; width: 30%;">
    <div style="margin-left:auto; margin-right:auto;">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <br>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">

                <button type="submit" style="margin-left: 54%;" class="btn btn-primary" >importer</button>
            </div>
        </div>
    {{ form_end(form) }}
    </div>
</div>

{% endblock %}
